# Ignore all chunk files in the chunks directory
/chunks/*.chunk* 

# Ignore a reconstructed file
/reconstruct/*

# Ignore virtual environment
/DFS/*

# Ignore python cache
**/__pycache__/

# Ignore environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
